# Игнорировать системные/временные файлы
.DS_Store
*.tmp

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать виртуальные окружения
venv/
.env

# Игнорировать настройки IDE
.idea/
.vscode/

# Игнорировать билды фронтенда (если есть)
dist/
node_modules/